@{
    ViewData["title"] = "Lag konkurranse";
}
@model Game

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/creategamepage/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>

<div>
    <div class="pageTitle">
        <h3>
            Skriv navn, antall lag og poster
        </h3>
    </div>
    <div class="CreateGame">
        @using (Html.BeginForm("CreateGame", "Game", FormMethod.Post, new { id = "createGameForm" }))
        {
            <label for="GameName">Navn på Konkurransen:</label>
            <br />
            @Html.TextBoxFor(model => model.GameName, new { required = "required" })
            <br />
            
            <label>Telefonnummer:</label>
            <br /> 
            @Html.TextBox("PhoneNumber", null, new { required = "required", id = "phoneNumber1", @class = "intl-tel-input" })
            <br />
            
            <label>Bekreft Telefonnummer:</label> 
            <br /> 
            @Html.TextBox("PhoneNumberConfirm", null, new { required = "required", id = "phoneNumber2", @class = "intl-tel-input" })
            <br />
            
            <label for="NumberOfTeams">Antall Lag:</label>
            <br />
            @Html.TextBoxFor(model => model.NumberOfTeams, new { type = "number", required = "required" })
            <br />
        
            <label for="NumberOfPosts">Antall Post:</label>
            <br />
            @Html.TextBoxFor(model => model.NumberOfPosts, new { type = "number", required = "required" })
            <br />
            
            @Html.HiddenFor(model => model.FullPhoneNumber, new { id = "fullPhoneNumber" })
            
            <input class="stylish-button" type="submit" value="Neste" />
        }
    </div>
</div>

<script>
    // Disable paste on phone number fields
    document.getElementById('phoneNumber1').addEventListener('paste', function(e) {
        e.preventDefault();
    });
    document.getElementById('phoneNumber2').addEventListener('paste', function(e) {
        e.preventDefault();
    });
    
    document.addEventListener('DOMContentLoaded', function() {
        // Wait for the DOM to be fully loaded before attaching the event listener
        document.getElementById('createGameForm').addEventListener('submit', function(e) {
            var phoneNumber1 = document.getElementById('phoneNumber1').value;
            var phoneNumber2 = document.getElementById('phoneNumber2').value;
    
            // Check if phone numbers match
            if(phoneNumber1 !== phoneNumber2) {
                // Prevent form submission
                e.preventDefault();
                // Alert the user that the phone numbers do not match
                alert('Telefonnumrene matcher ikke. Vennligst bekreft at du har skrevet inn riktig telefonnummer.');
            }
        });
    });
    
    document.addEventListener("DOMContentLoaded", function() {
        var number1 = document.querySelector("#phoneNumber1");
        var iti1 = intlTelInput(number1, {
            onlyCountries: ['no'],
            initialCountry: "no",
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        });
    
        var number2 = document.querySelector("#phoneNumber2");
        var iti2 = intlTelInput(number2, {
            onlyCountries: ['no'],
            initialCountry: "no",
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
        });
    
        var form = document.querySelector("#createGameForm");
        form.addEventListener("submit", function(e) {
            e.preventDefault(); // Prevent the form from submitting immediately
    
            // Validate both numbers
            var isValidNumber1 = iti1.isValidNumber();
            var isValidNumber2 = iti2.isValidNumber();
    
            if (!isValidNumber1 || !isValidNumber2) {
                alert("Ett eller begge av nummerene er ikke godkjente. Skriv de inn igjen er du grei! :)");
                return; // Stop here if any number is invalid
            }
    
            // Get the full phone number in international format
            var fullNumber = iti.getNumber(intlTelInputUtils.numberFormat.E164);
            // Update the hidden input or the phone number input
            document.querySelector("#fullPhoneNumber").value = fullNumber;
    
            // Programmatically submit the form now
            // Note: This might lead to an infinite loop if not handled correctly because
            // form.submit() triggers the submit event again. You might want to handle this differently.
            form.submit();
        });
    });
</script>