@{
    ViewData["title"] = "Admin";
}

@model Game

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/adminpage/site.css" asp-append-version="true" />
</head>

<div>
    <div class="gameDetailsTitle">
        <h3>Konkurranse: @Model.GameName</h3>
    </div>
    <div class="gameDetails">
        <table>
            <thead>
            <tr>
                <th>Post Navn</th>
                <th>Post Beskrivelse</th>
                <th>Post Koder</th>
            </tr>
            </thead>
            <tbody>
            @foreach(var post in @Model.Posts)
            {
                <tr>
                    <td>@post.PostName</td>
                    <td>@post.Description</td>
                    <td>@post.PostPin</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <form asp-action="Index" asp-controller="AdminPage" method="post">
        <input type="hidden" asp-for="GameName"/>
        <input type="hidden" asp-for="GameCode"/>
        <button type="submit" class="stylish-button">Tilbake</button>
        </form>
</div>
