@{
    ViewData["title"] = "Admin";
}

@model Game

<head>
    <link rel="stylesheet" href="~/css/adminpage/site.css" asp-append-version="true" />
</head>

<div>
    @if (Model != null && Model.GameName != null)
    {
        <div class="gameDetailsTitle">
            <h2>@Model.GameName</h2>
        </div>
        
        @if (Model != null && Model.Teams != null && Model.Teams.Any())
        {
            <div class="gameDetails">
                <table>
                    <tr>
                        <th>Teams:</th>
                        @for (int postIndex = 0; postIndex < Model.Posts.Count(); postIndex++)
                        {
                            <th>@Model.Posts[postIndex].PostName</th>
                        }
                        <th>Sum: </th>
                    </tr>
                    @foreach (var team in Model.Teams)
                    {
                        int totalPoints = 0;
                        <tr>
                            <td>@team.TeamName</td>
                            @for (int postIndex = 0; postIndex < team.Posts?.Count(); postIndex++)
                            {
                                int points = team.Posts[postIndex].PostPoints ?? 0;
                                <td>@points</td>
                                totalPoints += points;
                            }
                            <td>@totalPoints</td> 
                        </tr>
                    }
                </table>
            </div>
            <div class="AdminButtons">
                <form>
                    <button class="AdminButton" asp-controller="AdminPage" asp-action="ChangeTeamName">Endre Navn på Lag</button>
                </form>
                <br/>
                <form asp-action="ChangeTeamPoints" asp-controller="AdminPage" method="post">
                    <input type="hidden" asp-for="GameName"/>
                    <input type="hidden" asp-for="GameCode"/>
                    <button type="submit" class="AdminButton">Endre Poeng</button>
                </form>
            </div>
        }
        else
        {
            <p>No teams available.</p>
        }
    }
    else
    {
        <h2>Finner ikke konkurransen du søkte på. Prøv igjen!</h2>
    }
</div>